<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/thebanana"
        tools:targetApi="31">
        <activity
            android:name=".EditQuestion"
            android:exported="false" />
        <activity
            android:name=".EditTopic"
            android:exported="false" />
        <activity
            android:name=".SelectTopic"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".results"
            android:exported="false" />
        <activity
            android:name=".subjectselection"
            android:exported="false" />
        <activity
            android:name=".quiz"
            android:exported="false" />
        <activity
            android:name=".FlashcardClass"
            android:exported="false" />
        <activity
            android:name=".index"
            android:exported="false" />
        <activity
            android:name=".rank"
            android:exported="false" />
        <activity
            android:name=".studyTimer"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".LoginAccountFirebase"
            android:exported="false" />
        <activity
            android:name=".RegisterAccountFirebase"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent.registerlogin"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Setting"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent.setting"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>